body{
    margin: 0px;
    padding: 0px;
    width: 98%;
    background: #131316;
    font-family: "DINPro", sans-serif;
}
.taskbar{
    width: 100%;
    height: 4rem;
    background: #42424d;
    display: flex;
    list-style: none;
    padding: 0 2rem;
    align-items: center;

}

.taskbar_logo{
    flex: 0 auto;
    margin: 0 2.625rem 0 0;

}
.taskbar_logo h3{
    text-transform: none;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1;
    color: white;
    padding-left: 20px;
}
.taskbar_chooses{
    display: flex;
    flex:1;
    height: 100%;
}
.taskbar_chooses_choose{
    margin: auto 15px;
}
.taskbar_actions{
    display: flex;
    align-items: left;
    justify-content: flex-end;
    flex: 1;
    height: 100%;
}
.taskbar_actions_actions{
    margin: auto 15px;

}
.taskbar_chooses .taskbar_chooses_choose a,.taskbar_actions a{
    font-size: 1rem;
    color: #d3d3d4;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    padding-right: 0px;
}
.taskbar_actions_actions a{
    color: white;
    padding-right: 10px;
}
.login{
    width: 27.5rem;
    margin-left: 31rem;
    margin-bottom: 100px;
}
h1 {
    margin: 0px;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1;
    color: white;
    padding-top: 115px;
}
p.copy--form{
    color: #d3d3d4;
    font-size: 0.75rem;
    padding-top: 16px;
}
.signin_group .signin_group_input, .signin_group--error .signin_group_input {
    width: 100%;
    height: 2.0625rem;
    margin: 0;
    padding: 0 1rem;
    font-size: 0.75rem;
    background: #3a3a44;
    color: white;
    border: 0.0625rem solid #3a3a44;
    border-radius: 0;
    outline: 0;
}
.signin_group .signin_group_password .signin_group_password_input, .signin_group--error .signin_group_password .signin_group_password_input {
    width: 100%;
    height: 2.0625rem;
    margin: 0;
    padding: 0 1rem;
    font-size: 0.75rem;
    background: #3a3a44;
    color: white;
    border: 0.0625rem solid #3a3a44;
    border-radius: 0;
    outline: 0;
}
.form_button--disabled {
    opacity: 0.33;
    cursor: not-allowed;
}
.form_button, .form_button--disabled {
    min-width: 7.625rem;
    height: 2.0625rem;
    margin: 30px 0 16px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px;
    padding: 0px 1.75rem;
    background: #1260f3;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.0625rem;
    letter-spacing: 0.058125rem;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}
h6 a{
    color: white;
    text-decoration: none;
}
hr {
    color: #d3d3d4;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.chooses_general .chooses_name{
    margin: 4rem;
    padding: 0 1.25rem 0 1.5rem;
    width: 252px;
    height: 12px;
}
h4 {
    margin: 0 0 0 -0.171875rem;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.091;
    letter-spacing: 0.171875rem;
    text-transform: uppercase;
    opacity: 0.5;
    color: #d3d3d4;
}
.chooses_general .tab_Active{
    width: 300px;
    height: 73px;
    background: #1f1f24;
    border-left: 0.25rem solid #1260f3;
    cursor: default;
    margin-top: -55px;
    margin-left: 65px;
    margin-right: 1100px;
}
.chooses_general h3{
    text-transform: none;
    font-size: 1rem;
    font-weight: bold;
    line-height: 3.5;
    color: white;
    padding-left: 20px;
}
.tab_Details{
    color: #d3d3d4;
    font-size: 0.8rem;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    margin-top: -44px;
}
p.tab_Details_Users {
    flex: 1;
}
.chooses_general .tab_New_Users{
    width: 300px;
    height: 73px;
    border-left: 0.25rem solid #1260f3;
    margin-top: -15px;
    margin-left: 65px;
    margin-right: 1100px;
}
p.header_Details{
    color: #d3d3d4;
    margin-top: -20px;
    margin-left: 220px;
    font-size: 15px;
}
.table_Scoreboard .table_Header{
    width: 955px;
    display: flex;
    align-items: center;
    height: 3.5rem;
    margin-left: 442px;
    margin-top: 30px;
    padding: 0 1.75rem;
    background: #3a3a44;
    color: white;
}
.Content .full_Header{
    margin-top: -285px;
    margin-left: 440px;
}
.table_Header_Text{
    margin-top: 55px;
    margin-left: 10px;
    font-size: 1rem;
    display: flex;
    flex:1;
    height: 100%;
}
h3.table_Header_Text{
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.068125rem;
    text-transform: uppercase;
    color: white;
}
.table_Scoreboard .table_rows{
    display: flex;
    align-items: center;
    height: 2.75rem;
    padding: 0 1.75rem 0.125rem 1.75rem;
    border: 0;
    border-bottom: 0.125rem solid rgba(255, 255, 255, 0.07);
    margin-left: 442px;
    margin-top: 0px;
    margin-right: 52px;
    background-color: #1f1f24;
}
.table_row p.focus {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
}
p.focus, p.focus_action{
    font-size: 0.875rem;
    font-weight: normal;
    color: #d3d3d4;
}
.table_row_rank{
    width: 0px;
    margin-left: 10px;
}
.table_row_user{
    font-weight: bold;
    width: 480px;
}
.table_row_country{
    width: 235px;
}
.table_row_point{
    width: 100px;
}
.user .user_user {
    display: inline-block;
    color: white;
    margin-left: 265px;
}
.user .user_profile .user_profile_picture{
    width: 1.125rem;
    height: 1.125rem;
    margin-bottom: -2.25rem;
    margin-left: 240px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header_title{
    padding-top: 0px;
    margin-left: 90px;
}
.Problems .header .header_actions .header_action_button{
    min-width: 9.25rem;
    height: 2.5rem;
    padding: 0 1.75rem;
    background: #1260f3;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.0625rem;
    letter-spacing: 0.058125rem;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    margin: 0 0 0 auto;
}
.Problems{
    margin-top: 50px;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.trending_Problems{
    display: flex;
    flex-direction: row;
}
.flex-60{
    flex:60%;
}
.flex-25{
    flex: 25%;
}
.col_1{
    width: 400px;
}
.Problems_problem{
    width: 700px;
}
.col_3{
    width: 300px;
}
.Problems_problem .problem_title{
    margin: 0 0 1rem 0;
    font-size: 1rem;
    line-height: 1.2;
    color: white;
}
.problem_preview{
    width: 100%;
    padding: 1.5rem 0rem;
    background: #1f1f24;
    border: 0;
    border-bottom: 0.125rem solid rgba(255, 255, 255, 0.07); 
}
.like{
    display: flex;
    align-items: flex-end;
    margin-left: 40px;
}
.like .copy_action{
    display: flex;
    font-size: 1.1rem;
    line-height: 1;
    margin: 0;
}
p.copy_action {
    color: white;
    font-weight: bold;
}
.problem_previews_title {
    margin: 0.5rem 0;
}
h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.068125rem;
    text-transform: uppercase;
    color: white;
    margin-left: 40px;
}
.problem_preview_details{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
}
.problem_preview_details .problem_preview_detail_points, .problem_preview_details .problem_preview_detail_solves, .problem_preview_details .problem_preview_detail_category
.problem_preview_details .problem_preview_detail_difficulty_easy, .problem_preview_details .problem_preview_detail_author{
    flex: 0 auto;
    margin: 0 1rem 0 0;
    line-height: 1;
}
p.copy{
    font-size: 0.9rem;
}
p.problem_preview_detail_points, p.problem_preview_detail_solves, p.problem_preview_detail_category{
    color: #d3d3d4;
}
p a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.problem_preview_details .problem_preview_detail_difficulty_easy {
    color: #2bf59e;
}
.problem_preview_details .problem_preview_detail_difficulty_hard{
    color: #de7a1c;
}
.none{
    flex: 100%;
    height: 50px;
}
.discover_Problems{
    display: flex;
}
.tab_switcher{
    width: 400px;
}
.tab_switcher .tab_active {
    background: #1f1f24;
    border-left: 0.25rem solid #1260f3;
    cursor: default;
    width: 300px;
}
h3.tab_title{
    margin-left: 90px;
    text-transform: none;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2.5;
    color: white;
    letter-spacing: 0.058125rem;
    font-variant: small-caps;
}
